/**
 * Generic Area
 */
.be-flex {
  display: flex; }

.spaceIt-around {
  justify-content: space-around; }

.spaceIt-between {
  justify-content: space-between; }

/**
 * General Areal
 */
.container {
  margin: 2rem auto; }

.supplier-item {
  display: block;
  width: 100%; }

.listPagination {
  text-align: center;
  padding: 1rem 0; }
  .listPagination a i.material-icons {
    color: #484848; }

/**
 * Header Area
 */
header .nav-wrapper {
  background-color: #5fd9a2; }
  header .nav-wrapper .brand-logo {
    padding-left: 1rem;
    color: #ffffff; }
  header .nav-wrapper .dropdown-content a {
    color: #5fd9a2; }
  header .nav-wrapper ul li a {
    color: #ffffff; }
  header .nav-wrapper .side-nav li a {
    color: #484848; }

.top-page-bar {
  padding: 0 0 2rem 0; }

/**
 * User Area
 */
#account_top_bar #accountCallInfo ul {
  display: flex;
  list-style-type: none; }
  #account_top_bar #accountCallInfo ul li {
    padding: 0 1rem; }

/**
 * Box obj Area
 */
.information-by-id .box-information-by-id {
  border-bottom: 1px solid #484848;
  display: flex;
  padding: 1rem; }
  .information-by-id .box-information-by-id .label-info {
    display: block;
    width: 22rem; }

@media (max-width: 600px) {
  .label-info {
    width: auto; }
    .label-info .label-info-chip {
      width: 100%; } }

/**
 * Random product macro + cont parts
 */
.random-products .random-product-box {
  margin: 0 auto !important; }

/**
 * Icons Area
 */
.table-icon-link .table-icon {
  color: #484848 !important; }

.material-icons {
  display: inline-block !important; }

/**
 * Modal area
 */
.modal-footer {
  display: flex;
  justify-content: space-between; }

/**
 * Form Area
 */
input[type="checkbox"]:checked + label:before {
  border-right: 2px solid #5fd9a2;
  border-bottom: 2px solid #5fd9a2; }

form ul li span {
  color: #5fd9a2 !important; }

form input:focus {
  border-bottom: 1px solid #5fd9a2 !important;
  box-shadow: 0 1px 0 0 #5fd9a2 !important; }

form .active {
  color: #5fd9a2 !important; }

/**
 * Message alert Area
 */
.msg-alert-area {
  border: 1px solid rgba(50, 50, 50, 0.5);
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.5);
  color: #ffffff;
  padding: 2rem 0;
  margin: 0 0 3rem 0; }
  .msg-alert-area .msg-alert-title {
    font-size: 2rem;
    padding: 0 1rem;
    margin: 0; }
  .msg-alert-area .msg-alert-text {
    padding: 0 1rem;
    margin: 0; }

/**
 * Alert colors
 */
.error {
  background-color: #ff7479 !important; }

.warning {
  background-color: #ffbf45 !important; }

.success {
  background-color: #7aff7c !important; }

/**
 * Button Area
 */
.button-area {
  padding: 1rem 0; }

.add_btn {
  margin: 0 auto; }

.btn, button, input[type="submit"] {
  background-color: #5fd9a2;
  color: #ffffff; }
  .btn:hover, button:hover, input[type="submit"]:hover {
    background-color: #74deae; }

a i.material-icons {
  color: #ffffff; }

button, input[type="submit"] {
  text-decoration: none;
  text-align: center;
  letter-spacing: .5px;
  transition: 2s ease;
  cursor: pointer;
  font-size: 1rem;
  outline: 0;
  border: none;
  border-radius: 2px;
  height: 36px;
  line-height: 36px;
  padding: 0 2rem;
  text-transform: uppercase;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }
