/**
 * Generic Area
 */
.be-flex {
  display: flex; }

.spaceIt-around {
  justify-content: space-around; }

.spaceIt-between {
  justify-content: space-between; }

/**
 * General Areal
 */
.container {
  margin: 2rem auto; }

.add_btn {
  margin: 0 auto; }

.btn {
  background-color: #56d9c3;
  color: #ffffff; }
  .btn:hover {
    background-color: #6bdeca; }

a i.material-icons {
  color: #ffffff; }

.supplier-item {
  display: block;
  width: 100%; }

.listPagination {
  text-align: center;
  padding: 1rem 0; }
  .listPagination a i {
    color: #484848; }

/**
 * Header Area
 */
header .nav-wrapper {
  background-color: #56d9c3; }
  header .nav-wrapper .brand-logo {
    padding-left: 1rem;
    color: #ffffff; }
  header .nav-wrapper ul li a {
    color: #ffffff; }
  header .nav-wrapper .side-nav li a {
    color: #484848; }

#account_top_bar #accountCallInfo ul {
  display: flex;
  list-style-type: none; }
  #account_top_bar #accountCallInfo ul li {
    padding: 0 1rem; }

/**
 * Form Area
 */
input[type="checkbox"]:checked + label:before {
  border-right: 2px solid #56d9c3;
  border-bottom: 2px solid #56d9c3; }

form ul li span {
  color: #56d9c3 !important; }

form input:focus {
  border-bottom: 1px solid #56d9c3 !important;
  box-shadow: 0 1px 0 0 #56d9c3 !important; }

.msg-alert-area {
  border: 1px solid rgba(50, 50, 50, 0.5);
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.5);
  color: #484848;
  padding: 2rem 0; }
  .msg-alert-area .msg-alert-title {
    font-size: 2rem;
    padding: 0 1rem;
    margin: 0; }
  .msg-alert-area .msg-alert-text {
    padding: 0 1rem;
    margin: 0; }

/**
 * Alert colors
 */
.error {
  background-color: #ff7479; }

.warning {
  background-color: #ffff68; }

.success {
  background-color: #7aff7c; }

.button-area {
  padding: 1rem 0; }
