/**
 * General Areal
 */
.container {
  margin: 2rem auto;
}

.supplier-item {
  display: block;
  width: 100%;
}
.listPagination {
  text-align: center;
  padding: 1rem 0;

  a {
    i.material-icons {
      color: $color2;
    }
  }
}

/**
 * Modal area
 */
.modal-footer {
  display: flex;
  justify-content: space-between;
}
