/**
 * Generic Area
 */
.be-flex {
  display: flex;
}
.spaceIt-around {
  justify-content: space-around;
}
.spaceIt-between {
  justify-content: space-between;
}

/**
 * Icons Spot
 */
.table-icon-link {
  .table-icon {
    color: $color2!important;
  }
}
.material-icons {
  display: inline-block!important;
}