/**
 * Header Area
 */
header {

  .nav-wrapper {
    background-color: $color1;

    .brand-logo {
      padding-left: 1rem;
      color: $color3;
    }

    ul {
      li {
        a {
          color: $color3;
        }
      }
    }

    .side-nav {
      li {
        a {
          color: $color2;
        }
      }
    }
  }
}
.top-page-bar {
  padding: 0 0 2rem 0;
}