/**
 * Box obj Area
 */
.information-by-id {
  .box-information-by-id {
    border-bottom: 1px solid $color2;
    display: flex;
    padding: 1rem;

    .label-info {
      display: block;
      width: 22rem;
    }
  }
}
@media (max-width: 600px) {
  .label-info {
    width: auto;

    .label-info-chip {
      width: 100%;
    }
  }
}