/**
 * Box obj Area
 */
.information-by-id {
  .box-information-by-id {
    border-bottom: 1px solid $color2;
    display: flex;
    padding: 1rem;

    .label-info {
      display: block;
      width: 22rem;
    }
  }
}
@media (max-width: 600px) {
  .label-info {
    width: auto;

    .label-info-chip {
      width: 100%;
    }
  }
}

/**
 * Random product macro + cont parts
 */
.random-products {
  .random-product-box {
    margin: 0 auto!important;
  }
}
@media (max-width: 600px) {
  .random-products {
    .random-product-box {
    }
  }
}