{% extends '@Gescom/Default/base.html.twig' %}

{% block title %}Liste des categories{% endblock %}

{% block body %}
    <section id="category_listPage" class="container">
        <div class="row">
            <div class="col s12">
                <h4>Categories</h4>
            </div>
        </div>

        {# Button to add new product #}
        <a href="/categorie/nouveau" class="waves-effect waves-light btn add_btn">
            <i class="material-icons left">launch</i>
            Ajouter une nouvelle catégorie
        </a>

        <div class="row">
            <div class="col s12">
                <table class="striped responsive-table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for category in categorys %}
                        <tr>
                            <td>{{ category.id }}</td>
                            <td>{{ category.name }}</td>
                            <td>{{ category.description }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {# Button to add new product #}
        <a href="/categorie/nouveau" class="waves-effect waves-light btn add_btn">
            <i class="material-icons left">launch</i>
            Ajouter une nouvelle catégorie
        </a>
    </section>
{% endblock %}