{% extends '@Gescom/Default/base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div id="user_login">
        {# S'il y a une erreur, on l'affiche dans un joli cadre #}
        {% if error %}
            {% import '@Gescom/Elements/macro_alert.html.twig' as box %}
            {{ box.alertBox('error', 'Erreur : ', error.message) }}
        {% endif %}

        {# Le formulaire, avec URL de soumission vers la route « login_check » comme on l'a vu #}
        <form action="{{ path('login_check') }}" method="post">

            <div class="input-field col s12">
                <input type="text" id="username" name="username" value="{{ last_username }}" />
                <label for="_username">Login :</label>
            </div>

            <div class="input-field col s12">
                <input type="password" id="password" name="password" />
                <label for="_password">Mot de passe :</label>
            </div>

            <div class="input-field col s12">
                <input type="submit" value="Connexion" />
            </div>
        </form>
    </div>
{% endblock %}