{% extends '@Gescom/Default/base.html.twig' %}

{% block title %}Votre compte{% endblock %}

{% block body %}

    <h3>Mon compte</h3>

    <div id="account_top_bar" class="be-flex spaceIt-between">
        <div class="button-area be-flex spaceIt-between">
        </div>
    </div>

    <div id="accountCallInfo">

        <h5>Infos personnels</h5>
        <div class="account-info">
            {# To include form to update user info  #}
        </div>

        <h5>Mon profile</h5>
        <div class="account-info">
            {% if is_granted('ROLE_USER') %}
                {{ form(formProfile) }}
            {% endif %}
        </div>
    </div>
{% endblock %}