{% extends '@Gescom/Default/base.html.twig' %}

{% block title %}Votre compte{% endblock %}

{% block body %}
    <div id="account_top_bar" class="be-flex spaceIt-between">
        <div class="button-area be-flex spaceIt-between">
            <a href="{{ path('register') }}" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>S'inscrire</a>
            <a href="{{ path('login') }}" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Se connecter</a>
        </div>
        <div id="accountCallInfo">
            <ul>
                <li><span>Nom d'utilisateur : </span>...</li>
                <li><span>Mot de passe : </span>...</li>
            </ul>
        </div>
    </div>
    {% if return is empty %}
    {% else %}
        {# if User was not connect #}
        {% import '@Gescom/Elements/macro_alert.html.twig' as box %}
        {{ box.alertBox(return.type, return.title, return.text) }}
    {% endif %}
{% endblock %}