{% extends '@Gescom/Default/base.html.twig' %}

{% block title %}Votre compte{% endblock %}

{% block body %}

    <div id="account_top_bar" class="be-flex spaceIt-between">
        <div class="button-area be-flex spaceIt-between">
            {% if not is_granted('ROLE_USER') %}
                <a href="{{ path('register') }}" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>S'inscrire</a>
                <a href="{{ path('login') }}" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Se connecter</a>
            {% else %}
                <a href="{{ path('logout') }}" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Se déconnecter</a>
            {% endif %}
        </div>

        {% if is_granted('ROLE_USER') %}
            <div id="accountCallInfo">
                <ul>
                    <li><span>Nom d'utilisateur : </span>{{ app.user.profile.avatar }}</li>
                </ul>
            </div>
        {% endif %}
    </div>

{% endblock %}