{% extends '@Gescom/Default/base.html.twig' %}

{% block title %}Modifier un produit{% endblock %}

{% block body %}

    <section id="product_Page">
        <div class="row">
            <div class="col s12">
                <h4>Modification d'un produit</h4>
            </div>
        </div>

        <div class="top-page-bar">
            {# Button to add new product #}
            <a href="{{ path('productList') }}" class="waves-effect waves-light btn">
                <i class="material-icons left">list</i>
                Retourner à la liste des produits
            </a>
        </div>

        <div id="product_update" class="col s12">
            {{ form(form) }}
        </div>
    </section>

{% endblock %}